.principles {
  li {
    display:inline-block;
    width:30%;
    position:relative;
    box-sizing: border-box;
    padding-right:3%;
    vertical-align: top;
    img {
      width:100%;
    }
    .image {
      width:100%;
      height:240px;
      background-position: center center;
      background-size:cover;
    }
  }
}

@media(max-width:1000px) {
  .principles li {
    width:100%;
  }
}