a.contact-method {
  display:inline-block;
  width:auto;
  font-family: 'bebas neue', arial, sans-serif;
  line-height: 0.8em;
  font-size:3em;
  text-decoration: none;
  clear:both;
  border:1px solid transparent;
  margin-top:0.1em;
  span {
    color:#666666;
  }
}

.contact-section {
  margin-bottom:4em;
  p {
    margin-bottom:0em;
  }
}
.has-swearing {
  .no-swearing {
    display:none;
  }
}
.has-no-swearing {
  .swearing {
    display:none;
  }
}
