a.contact-method {
  display:inline-block;
  width:auto;
  font-family: 'bebas neue', arial, sans-serif;
  line-height: 0.8em;
  font-size:3em;
  text-decoration: none;
  clear:both;
  border:1px solid transparent;
  margin-top:0.1em;

  .swearing, .no-swearing {
    display:inline-block;
    width:0.44em;
    color:inherit;
    margin:0;
    padding:0;
    text-align: center;
    -webkit-transition:500ms all;
    transition:500ms all;
  }
  .swearing {
    position:absolute;
  }
}


.contact-section {
  margin-bottom:4em;
  p {
    margin-bottom:0em;
  }
}
.has-swearing {
  .no-swearing {
    display:none;
  }
}
.has-no-swearing {
  .swearing {
    display:none;
  }
}

.has-swearing a.contact-method{
  .no-swearing {
    -webkit-transform: translateZ( -100px ) translateY( -0.5em ) rotateX(   90deg );
  }
  .swearing {
    -webkit-transform: translateZ( 0px ) rotateX(   0deg );
  }
}
.has-no-swearing a.contact-method {
  .swearing {
    -webkit-transform: translateZ( 100px ) translateY( 0.5em ) rotateX(   -90deg );
  }
  .no-swearing {
    -webkit-transform: translateZ( 0px ) rotateX(   0deg );
  }
}

@media(max-width:1020px) {
  a.contact-method {
    font-size:2em;
  }
}