a.contact-method {
  display:inline-block;
  width:auto;
  font-family: 'bebas neue', arial, sans-serif;
  line-height: 0.8em;
  font-size:3em;
  text-decoration: none;
  clear:both;
  border:1px solid transparent;
  margin-top:0.1em;

  .swearing, .no-swearing {
    display:inline-block;
    width:0.5em;

    margin:0;
    padding:0;
    text-align: center;
  }
}


.contact-section {
  margin-bottom:4em;
  p {
    margin-bottom:0em;
  }
}
.has-swearing {
  .no-swearing, a .no-swearing {
    display:none;
  }
}
.has-no-swearing {
  .swearing, a .swearing {
    display:none;
  }
}

@media(max-width:1020px) {
  a.contact-method {
    font-size:2em;
  }
}