#single_project {
  #title_section, #image_section {
    width:50%;
    display:block;
    overflow:hidden;
    position:relative;
    min-height:300px;
    box-sizing:border-box;
  }
  #title_section {
    float:left;
    .content {
      position:absolute;
      padding:$padding;
      top:0;
      left:0;
      right:0;
      bottom:0;
    }
    h1 {
      font-size:5em;
      margin:0;
    }
    h2 {
      @include normal_font;
      font-size:1.5em;
    }
  }
  #image_section {
    .img {
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background-position: center center;
      background-repeat: no-repeat;
      background-size:cover;
      -webkit-transition:all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition:all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    &:hover {
      .img {
        top:-$padding*5;
        left:-$padding*5;
        right:-$padding*5;
        bottom:-$padding*5;
      }
    }
  }
  .tags {
    display:block;
    float:none;
    padding:0;
    white-space: nowrap;
    overflow-y:hidden;
    overflow-x:auto;
    margin:0;
    margin-left:-1px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    .tag {
      margin:0;

      padding:0;
      display:inline-block;
      a {
        display:block;
        float:left;
      }
    }
  }
  #view_project {
    position:absolute;
    bottom:$padding;
    font-family: 'bebas neue', arial, sans-serif;
    font-size: 1.5em;
    padding: 10px 20px;
  }
}

@media(max-width:950px) {
  #single_project {
    #title_section, #image_section {
      width:100%;
    }
    #title_section {
      border-right:none;
      .stretch {
        display:none;
      }
    }

  }
}

@media(max-width:650px) {
  #single_project {
    #title_section {
      font-size:0.7em;
      min-height:0px;
      .content {
        position:static;
      }
    }
    #view_project {
      position: static;
    }
  }
}